<div class="h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8">
  <div class="max-w-md w-full space-py-8">
    <div>
      <h1 class="text-center text-3xl font-bold mt-6">Sign in to your account</h1>
    </div>
    <div class="mt-8">
      {% form 'customer_login' %}
        <div class="my-2">
          <label for="email_address">Email address</label>
          <input
            type="email"
            name="customer[email]"
            id="email_address"
            autocomplete="email"
            class="relative block w-full px-3 py-2 border"
            placeholder="Email Address"
          >
        </div>
        {% if form.password_needed %}
          <div class="my-2">
            <label for="email_address">Password</label>
            <input
              type="password"
              name="customer[password]"
              id="password"
              autocomplete="current-password"
              class="relative block w-full px-3 py-2 border"
              placeholder="Password"
            >
          </div>
        {% endif %}
        <div>
          <button
            type="submit"
            class="relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900 "
          >
            Sign in
          </button>
        </div>
      {% endform %}
    </div>
  </div>
  <div class=""></div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
